// ベース色
$color-main: #fff;
$color-accent: #fff;
$color-sober: #fff;

// ロゴ
$color-logo: #fff;

//　背景
$color-main-bg: #F3F3F3;
$color-bg-header: #fff;
$color-bg-footer: #fff;

//　テキスト色
$color-text-white: rgb(235, 235, 235);
$color-text-black: #333;

// キーカラー
$color-key-white: #f3f3f3;
$color-key-yellow: #ffaa3b;
$color-key-blue: #4973ff;
$color-key-red: #ff4646;

//　透通度
$opacity: 0.6;
$color-attention: #eee;

//　マーカー
$color-marker: #eee;

//ボーダー
$color-border-red: #e81919;

//　アイコン
$color-html: #eee;
$color-wordpress: #eee;
$color-responsive: #eee;

//　ラベル
$color-label-grey: #666666;
$color-label-red: #E81919;
$color-label-blue: #3F51B5;


.main-bg-color {
  background-color: rgb(250, 250, 250);
}